<!--CONTENEDOR PRINCIPAL-->
<div id="activities" class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-12">
      <form id="formActivities">
        <input type="hidden" value="<%= activities_path %>" id="activityCreate">
        <div class="form-group" >
          <label>Nombre</label>
          <input type="text" class="form-control" id="activityName" placeholder="Nombre de la actividad"/>
        </div><br>
      </form>
      <ul id="listActivities" class="list-group">
        <% @activities.each do |activity| %>
        <li class="list-group-item" activity_id="<%= activity.id %>"><%= activity.name + ' '%> <button>eliminar</button> </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
<!--FIN CONTENEDOR PRINCIPAL-->
<!--INICIA MODAL-->

<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Detalles de la actividad</h4>
      </div>
      <div class="modal-body">
        <form id="formActivities">
          <input type="hidden" name="id" id="id_activity">
          <div class="form-group">
            <label>Nombre de la actividad</label>
            <input type="text" class="form-control" id="activityNameModal">
          </div>
          <div class="form-group">
            <label>Descripción</label>
            <input type="text" class="form-control" id="activityDescription">
          </div>
          <div class="form-group">
            <label>Término de la actividad</label>
            <input type="date" class="form-control" id="activityEndDate">
          </div>
          <div class="form-group">
            <label>Miembros designados</label>
            <% Member.all.each do |member| %>
              <label>
                <input name="activityMembers" type="checkbox" class="memberCheckbox_<%= member.id %>" id="activityMember_<%= member.id %>" value="<%= member.id %>">
                <span><%= member.name%> </span>
              </label>
            <% end %>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" type="submit" id="updateActivity" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!--FIN MODAL-->
